{% load static %}

<nav class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">IPL PROJECT</a>
        <img src="{% static 'img/ipl_logo.png' %}" alt="IPL Logo" width="15%" height="15%">
    </div>
</nav>