@media screen and (min-width: 1230px) {
    footer {
        position:fixed;
        right:0;
        bottom:0;
        left:0;
        z-index:1030
    }
}

body {
    cursor: url('../img/ball_cursor.png'), auto;
}

a:hover {
    cursor: url('../img/ball_cursor.png'), auto;
}