{% extends 'base.html' %}

{% block content %}
    <h1>Problem 3</h1>
    <div id="extra-runs-conceded-2016" class="mt-4"></div>

    {% include 'partials/_back_button.html' %}
    <hr>
    <div class="m-4">
        <a href="{% url 'ipl:extra_runs_conceded_2016' %}" target="_blank">View API ↵</a>
    </div>
    {% load static %}
    <script src="{% static 'js/problem3.js' %}"></script>
{% endblock %}