{% extends 'base.html' %}

{% block content %}
    <h1>Problem 1</h1>
    <div id="matches-per-year" class="mt-4"></div>
    
    {% include 'partials/_back_button.html' %}
    <hr>
    <div class="m-4">
        <a href="{% url 'ipl:matches_per_year' %}" target="_blank">View API ↵</a>
    </div>
    {% load static %}
    <script src="{% static 'js/problem1.js' %}"></script>
{% endblock %}