{% extends 'base.html' %}

{% block content %}
    
    <h1>Problem 4</h1>
    <div id="top-economical-bowlers-2015" class="mt-4"></div>

    {% include 'partials/_back_button.html' %}
    <hr>
    <div class="m-4">
        <a href="{% url 'ipl:top_economical_bowlers_2015' %}" target="_blank">View API ↵</a>
    </div>
    {% load static %}
    <script src="{% static 'js/problem4.js' %}"></script>
{% endblock %}