{% extends 'base.html' %}

{% block content %}
    <h1>Problem 2</h1>
    <div id="wins-per-team-per-year" class="mt-4"></div>

    {% include 'partials/_back_button.html' %}
    <hr>
    <div class="m-4">
        <a href="{% url 'ipl:wins_per_team_per_year' %}" target="_blank">View API ↵</a>
    </div>
    {% load static %}
    <script src="{% static 'js/problem2.js' %}"></script>
{% endblock %}